####### editor
.history
.idea
.vscode


####### node.js

#dist
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


####### macos

.DS_Store
.AppleDouble
.LSOverride


####### test

coverage